$color1: #c49c52;
$color2: #0c041c;
$font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$cliente: persona;

*{padding: 0;
margin: 0;
}

html{
    scroll-behavior: smooth;
}
#nav{
    background-color: #0c041c;

    .logo p{
        color: white;
}
.logo img{
    height: 150px;

}
}
#navbarScroll ul li:hover{
    background-color: $color1;

    #navbarScroll ul li{
        font-weight: bold;
}

}
.contacto {
    display: block;
    width: 100%;
    height: 40px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.contacto a {
    display: block;
    font-size: 20px;
    padding: 10px;
    margin-right: 50px;
    color: #0c041c;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contacto {
    height: 55vh;
    padding: 30px;
    } 
  
footer div{
    background-color: #0c041c;
    height: 120px;
}
footer a img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
    border-radius: 10%;

}

#Servicios div div img {
    border: 3px solid #c49c52;
    border-radius: 10%;

    #Servicios div h1 {
        font-size: 50px;
}
}

#Servicios{
    height: 60vh;
}
input{
    transition: all 1s;
}
input:focus, textarea:focus, select:focus{
    font-size: 20px;
    border: 4px solid #c49c52 !important;
    color: #0c041c;
    box-shadow: none !important;
}

.btn-primary {
    @if $cliente == persona {
        background-color: #c49c52 !important;
        border: 1px solid #c49c52 !important;
    }
    @else {
        background-color: #c49c52;
        border: 1px solid $color1;
    }
    }
    .btn-primary:hover{
        background-color: #c49c52;
}

.carrusel {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.carrusel ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.carrusel li{
    width: 100%;
    list-style: none;
}
.carrusel img{
    width: 100%;
    height:fit-content;

}
    
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.carrusel h1{
    position: absolute;
    z-index: 10;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 51px;
    margin-top: 35vh;
    background-color: rgba($color: $color2, $alpha: 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.subir{
    height: 40px;
    width: 40px;
    background-color: #c49c52;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px white;
}
.mapa li a{
    color: white;  
}

.mapa li{
    list-style: none;
}